body {
    font-family: 'Rubik', 'Arial', sans-serif;
    color: black;
    margin: 0;
    padding: 20px;    
    background-size: contain; /* Ensure the image fits the width of the page */
    background-position: top center; /* Position the image at the top center */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: scroll; /* Make the background scroll with the content */
    position: relative; /* Required for pseudo-element positioning */
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    animation: changeBackground 60s ease-in-out infinite; /* Adjust duration and steps */
  }

/* Ensure that the content stays on top */
body * {
    position: relative;
    z-index: 1; /* Place content above the overlay */
}

@keyframes changeBackground {
    0% { background-image: url('images/back_logo2.png'); }
    50% { background-image: url('images/back_logo1.png'); }
    100% { background-image: url('images/back_logo2.png'); }
}

button {
    border: none;
}

.container {
    max-width: 80%;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Ensure it stacks below the menu */
    z-index: 1; /* Ensure the container is below the menu */
}

/* White dimming effect */
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    z-index: -1; /* Make sure the overlay is behind the content */
}

.contact_logos {
    width: 80px;    
    border-radius: 10px;
    margin: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    border-bottom: 2px solid #a00101;
}

.form-container {
    display: flex;
    align-items: flex-start;
}

.form-column {
    flex: 1;
    padding-right: 20px;
    max-width: 20%;
}

.booking-form {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-form input[type="text"],
form input[type="tel"],
form select,
form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.booking-form button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.booking-form input:focus,
form select:focus,
form textarea:focus {
    border-color: #a00101;
    outline: none;
}

/* Style the textarea */
.booking-form textarea {
    resize: vertical;
    min-height: 100px;
    background-color: rgb(223, 222, 221);
}

.booking-form button[type="submit"]:hover {
    background-color: #45a049;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: 20px auto; /* Centers the table and adds spacing */
    border-collapse: collapse;
    text-align: left;
}

.cart-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Adds a bottom border */
}

.cart-table tr:hover {
    background-color: #6e6d6d; /* Light hover effect */
}

.cart-table td:last-child {
    text-align: right; /* Aligns the total to the right */
}

.cart-table .no-tuning {
    font-weight: bold;
    background-color: #6e6d6d; /* Light blue background for distinction */
}

.cart-table .tuning {
    background-color: #6e6d6d; /* Light green background for distinction */
}

.cart-total {
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
}

.clear-cart-button {
    background-color: #f44336; /* Red color for clear button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.clear-cart-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.go-to-cart-button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 60px 10px 60px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.go-to-cart-button:hover {
    background-color: #45a049;    
    cursor: pointer;
}

.price-table {
    width: 100%;
    max-width: 700px;
    margin: 20px auto; /* Centers the table and adds spacing */
    border-collapse: collapse;
    text-align: left;    
}

.price-table td .price-table th{
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Adds a bottom border */
}

.price-table tr:hover {
    background-color: #6e6d6d; /* Adds hover effect */
}

.price-table td:last-child {
    text-align: right; /* Aligns the price to the right */
}

.price-table .no-hover:hover {
    background-color: transparent;
    cursor: default;
}

.book-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.book-button:hover {
    background-color: #45a049;
    cursor: pointer;
}

.remove-button {
    background-color: #af3737;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.remove-button:hover {
    background-color: #ac2828;
    cursor: pointer;
}

.info-button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    border: none;
}

.info-button:hover {
    background-color: #45a049;
    cursor: pointer;
}

.info-content {
    text-align: left;
}

.hidden-row {
    display: none;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 12px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: rgb(223, 222, 221);
    width: 60%;
    margin-bottom: 15px;
}

select {
    padding: 12px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid black;
    background-color: rgb(223, 222, 221);
    width: 100%;
    margin-bottom: 15px;
}

select:focus {
    outline: none;
    background-color: rgb(223, 222, 221);
}

.chart-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50%;
}

.stage-info {
    display: none; /* Initially hide the stage info */
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 70px;
}

.stage-info-text {
    color: black;
    margin: 2px 0;
}

.canvas-wrapper {
    width: 100%;
    max-width: 100%;
}

canvas {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 2px;
}

/* Styling for the guide page */
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.section h2 {
    font-size: 1.5em;
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
h3 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 10px;
}
.section ul {
    list-style-type: disc;
    margin-left: 20px;
}
.advantages, .disadvantages {
    margin-top: 10px;
    padding-left: 20px;
}
.advantages li, .disadvantages li {
    margin-bottom: 5px;
}
.section {
    margin: 0px 40px 0px 40px;
    text-align: left;
    position: relative; /* Ensure sections stack properly */
    z-index: 1; /* Ensure sections are below the menu */
}
.section:last-child {
    margin-bottom: 0;
}

/* Remove scroll bars */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

/* For Firefox */
html {
    scrollbar-width: none; /* Hide scrollbar in Firefox */
}

/* For Internet Explorer / Edge */
body {
    -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}
